<section id="education" class="projects-section bg-light">
	<div class="container">
		<h2 class="text-black text-center mb-4">Education</h2>
		{% for item in site.data.personal.education %}
		<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
			<div class="col-lg-10">
				<div class="bg-black text-center h-100 project">
					<div class="d-flex h-100">
						<div class="project-text w-100 my-auto text-left">
							<h4 class="text-white">{{ item.name}}</h4>
							<p class="mb-0 text-white-50">{{ item.course }}</p>
							<hr class="d-none d-lg-block mb-0 ml-0">
							<br>
							<p class="mb-0 text-white-50">Address: {{ item.address }}</p>
							
							{% if item.telephone %}
								<p class="mb-0 text-white-50">Telephone: {{ item.telephone }}</p>
							{% endif %}
							
							{% if item.website %}
								<p class="mb-0 text-white-50">Website: {{ item.website }}</p>
							{% endif %}
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		{% endfor %}
	</div>
</section>