<header class="masthead">
	<div class="container d-flex h-100 align-items-center">
		<div class="mx-auto text-center">
			<h1 class="mx-auto my-0 text-uppercase">{{ site.data.personal.name }}</h1>
			<h2 class="text-white-50 mx-auto mt-2 mb-5">Portfolio</h2>
			<!-- <h2 class="text-white-50 mx-auto mt-2 mb-5">Accepts freelance work, email me @ {{ site.data.personal.email }} </h2> -->
			<a href="#about" class="text-white-50 js-scroll-trigger">
				<i class="fas fa-chevron-circle-down fa-4x"></i>
			</a>
		</div>
	</div>
</header>