<section id="skills" class="contact-section bg-black">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2 class="text-white text-center mb-4">Skills</h2>
				{% for item in site.data.skills %}
					<p class="text-white-50 text-center">
						{{ item.category }}
					</p>
					<p class="text-white-50 text-center">
					{% for value in item.list %}
						<span class="badge badge-secondary">{{ value }}</span>
					{% endfor %}
					</p>
					<br>
				{% endfor %}
			</div>
		</div>
	</div>
</section>